  <table class="table table-hover">
      <thead>
          <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Cargo</th>
              <th>Endereço</th>
              <th>Cidade</th>
              <th>CEP</th>
              <th>País</th>
              <th>Telefone</th>
              <th>Fax</th>
          </tr>
      </thead>
      <tbody>
           <!-- <tr ng-repeat="clienteTabela in clientes | filter:criterio" ng-click="seleciona(clienteTabela)"> 
              <td>{{clienteTabela.codigo}}</td>
              <td>{{clienteTabela.nome}}</td>
              <td>{{clienteTabela.cargo}}</td>
              <td>{{clienteTabela.endereco}}</td>
              <td>{{clienteTabela.cidade}}</td>
              <td>{{clienteTabela.cep}}</td>
              <td>{{clienteTabela.pais}}</td>
              <td>{{clienteTabela.telefone}}</td>
              <td>{{clienteTabela.fax}}</td>
          </tr>
          -->
      </tbody>
  </table>
  