<p>
  desenho-list works!
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>C&oacute;digo</th>
      <th>Nome do Desenho</th>
      <th>Categoria</th>
      <th>Exibição</th>
      <th>Melhor Episódio</th>
      <th>Notas</th>
      <th>Pior Desenho</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let desenhoanimadoTabela of desenhos"></tr>
    <a [routerLink]= "[desenhoanimadoTabela.codigo]" >
      <td>{{desenhoanimadoTabela.codigo}}</td></a>
      <td>{{desenhoanimadoTabela.nomeDesenho}}</td>
      <td>{{desenhoanimadoTabela.categoria}}</td>
      <td>{{desenhoanimadoTabela.exibido}}</td>
      <td>{{desenhoanimadoTabela.episodio}}</td>
      <td>{{desenhoanimadoTabela.notas}}</td>
      <td>{{desenhoanimadoTabela.piorDesenho}}</td>


    </tr>
  </tbody>
</table>